@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,500;1,600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}

img,
svg,
picture,
video {
    display: block;
    max-width: 100%;
}

.modal-top::-webkit-scrollbar,
body::-webkit-scrollbar,
.modal-top .modal-details::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}

.modal-top::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.modal-top .modal-details::-webkit-scrollbar {
    background-color: white;
    border-radius: 50px;
    height: 100px;
}

.modal-top::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.modal-top .modal-details::-webkit-scrollbar {
    background-image: linear-gradient(to bottom, #2e3192, #1bffff);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.bg-black-c {
    background-image: linear-gradient(to bottom, #2e3192, #1bffff);
}

.h4-title .sub-title {
    font-family: Kanit, sans-serif;
    margin-top: 80px;
}

@keyframes move-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.search-title {
    background-color: #0092ff;
    border: none;
}

.input-title {
    animation: move-in 1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.input-title input {
    color: white;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.input-title button {
    padding: 11px 0;
    border-radius: 30px;
}

.position {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

.d-flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.header {
    font-size: 35px;
    color: white;
    font-family: 'Kanit', sans-serif;
    border: 2px solid white;
    padding: 0 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.header p {
    margin-bottom: 0;
    color: white;
}

.header .header-icon {
    color: white;
}

.footer {
    display: flex;
    gap: 2rem;
    padding: 0;
}

.navlink {
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease-out;
}

.navlink:hover::before {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 2px;
    right: 0;
    bottom: 0;
}

.title-para {
    font-family: 'Kanit', sans-serif;
}

#fire {
    font-size: 20px;
    margin-bottom: 5px;
}

.icon-2 {
    margin-bottom: 5px;
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 2.5px 8px;
    font-size: 14px;
}

.icon-2-two {
    margin-bottom: 0px;
}

.footer-names {
    margin-bottom: 5px;
}

.cards {
    border-radius: 34px;
    position: relative;
    min-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: transform 0.3s ease-out, backgroud-image 0.3s ease-out;
    background-color: transparent;
    padding: 20px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.card-img-top {
    object-fit: cover;
    height: 100%;
    border-radius: 34px;
}

.cards:hover {
    background-image: linear-gradient(to right, #2e3192, #1bffff);
}

.cards .faplay-icon {
    position: absolute;
    color: white;
    padding: 20px;
    inset: 0;
    margin: auto;
    border-radius: 50%;
    font-size: 20px;
    visibility: hidden;
    transition: visibility 0.3s ease-out;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.cards:hover .faplay-icon {
    visibility: visible;
}

.cards span {
    position: absolute;
    right: 4px;
    top: 5px;
    background-color: black;
    border-radius: 100%;
    padding: 5px 8px;
}

.cards span.green,
.modal-top span.green {
    color: chartreuse;
    font-weight: 700;
}

.modal-top span.green {
    font-weight: 700;
    background-color: black;
    padding: 10px;
    position: absolute;
    top: 0%;
    border: 3px solid rgba(31, 38, 135, 1);
    right: 0%;
    font-size: 17px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-top span.orange {
    font-weight: 700;
    background-color: black;
    padding: 10px;
    position: absolute;
    top: 0%;
    border: 3px solid rgba(31, 38, 135, 1);
    right: 0%;
    font-size: 17px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-top span.red {
    font-weight: 700;
    background-color: black;
    padding: 10px;
    position: absolute;
    top: 0%;
    border: 3px solid rgba(31, 38, 135, 1);
    right: 0%;
    font-size: 17px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cards span.orange,
.modal-top span.orange {
    color: darkorange;
    font-weight: 700;
}
.cards span.red,
.modal-top span.red {
    color: crimson;
    font-weight: 700;
}

.button {
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.button,
.buttons {
    border-radius: 34px;
    font-size: 16px;
    font-weight: 600;
    border: none !important;
}

.pagination {
    padding-bottom: 80px;
}

.search {
    padding: 0 2%;
    text-transform: capitalize;
}
.search::placeholder {
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 0 2%;
}
a:hover {
    color: white;
}

.footer-border {
    border: none;
    outline: none;
}

.display-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3rem 2rem;
    position: relative;
    margin: 0 auto 0 auto;
    width: 100%;
    overflow: hidden;
}

.background-search-h {
    background-image: linear-gradient(to bottom, #2e3192, #1bffff);
}

.display-grid-search {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3rem 2rem;
    position: relative;
    margin: 0 auto 0 auto;
    width: 100%;
    overflow: hidden;
}

.modal-top .close-btn {
    position: absolute;
    right: 10.2%;
    top: 15.5%;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.overview h4 {
    color: white;
    text-decoration: underline;
    font-weight: 700;
}

.show-nav {
    transform: translateX(-100%);
}

.dont-show {
    transform: translateX(0%);
}

.bbb {
    position: fixed;
    z-index: 100;
    top: 18px;
    left: 10px;
    border-radius: 5px;
    padding: 0px;
    border: none;
}

.bbb-icon {
    background-color: transparent;
    border-radius: 50%;
    color: white;
    padding: 5px 10px;
}

.pagination .button-one,
.pagination .button-two {
    background-color: transparent;
    color: white;
    border-radius: 10%;
    font-size: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.spinner-loader {
    position: relative;
    z-index: 102;
}

#navigation {
    position: fixed;
    z-index: 100;
    background-color: transparent;
    padding: 0px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    top: 90px;
    width: 40%;
    height: 555px;
    transition: transform 0.3s ease-out;
}

.close-btn-trailer {
    position: fixed;
    left: 0;
    top: 0%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    z-index: 103;
}

.trailer-btn {
    margin-top: 1rem;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(31, 38, 135, 1);
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.trailer-icon {
    color: white;
}

.ccc {
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 0px;
    border: none;
}

.ccc-icon {
    background-color: transparent;
    border: none;
    color: white;
}

.others,
.others-two,
.others-three {
    height: 500px;
    padding: 10px 50px 10px 50px;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    transition: all 0.8s;
}
.others-three {
    margin-bottom: 0;
}
.others.hovered,
.others-two.hovered,
.others-three.hovered {
    background-image: url();
}
.others h1,
.others-two h1,
.others-three h1 {
    font-family: Kanit, sans-serif;
}
.others img,
.others-two img,
.others-three img {
    width: 95%;
    margin: 10px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-out;
    opacity: 1;
}
.others img:hover,
.others-two img:hover,
.others-three img:hover {
    transform: scale(1.05);
}
.whole-slider {
    width: 90%;
    margin: 0 auto;
}
.others .slider,
.others-two .slider,
.others-three .slider {
    position: relative;
}
.others .title-space,
.others-two .title-space,
.others-three .title-space {
    padding-left: 80px;
}

.cast-actor-grid img {
    background-image: url('https://user-images.githubusercontent.com/10515204/56117400-9a911800-5f85-11e9-878b-3f998609a6c8.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.modal-trailer {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 102;
    inset: 0;
    width: 100%;
    height: 100%;
}

.others-background-p {
    padding-top: 82px;
}

@media (min-width: 320px) {
    #navigation {
        position: fixed;
        top: 25.5%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        transition: button 0.3s ease-out;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        z-index: 101;
    }
    .input-title {
        justify-content: unset;
        position: relative;
    }
    .input-title input {
        width: 80%;
        margin: 0 auto;
        outline: none;
    }
    .input-title button {
        position: absolute;
        right: 5%;
        padding: 12px 40px;
    }
    .d-flex-header {
        justify-content: center;
    }
    .display-grid {
        padding: 2rem 1.8rem;
    }
    .display-grid-search {
        padding: 2rem 1.8rem;
    }
    .modal-top {
        position: fixed;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        transition: button 0.3s ease-out;
        overflow-y: scroll;
        border-radius: 10px;
        z-index: 101;
        background-color: transparent;
        padding: 0px;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 0px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.7px);
        -webkit-backdrop-filter: blur(4.7px);
        border: 1px solid rgba(255, 255, 255, 0.27);
    }
    .modal-top .modal-left {
        width: 100%;
    }
    .modal-top .modal-left .poster {
        width: 88%;
        height: 100%;
        margin: 1rem auto;
        border-radius: 10px;
        position: unset;
        background-repeat: no-repeat;
        object-fit: fill;
    }
    .modal-down {
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: fixed;
        inset: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        overflow-y: scroll;
    }
    .modal-top .details {
        width: 100%;
        background-color: unset;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 20px;
        color: white;
    }
    .modal-top .close-btn {
        right: unset;
        left: 1%;
        top: 3%;
        border-radius: 50%;
        z-index: 102;
        font-size: 20px;
        padding: 10px 15px;
    }
    .trailer-btn {
        margin: 0 auto 0 auto;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        background-color: rgb(255, 0, 0);
        color: white;
        font-size: 16px;
        font-weight: 700;
    }
    .modal-top .span-para {
        margin-top: 0px;
        font-weight: bold;
    }
    .modal-top span.green {
        font-weight: 700;
        background-color: unset;
        padding: 10px;
        position: static;
        border: none;
        font-size: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 0px;
    }
    .modal-top span.orange {
        font-weight: 700;
        background-color: unset;
        padding: 10px;
        position: static;
        border: none;
        font-size: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 0px;
    }
    .modal-top span.red {
        font-weight: 700;
        background-color: unset;
        padding: 10px;
        position: static;
        border: none;
        font-size: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 0px;
    }
    .details h3 {
        text-align: center;
    }
    .details h4 {
        text-align: start;
    }
    .whole-slider {
        width: 100%;
    }

    .others .title-space,
    .others-two .title-space,
    .others-three .title-space {
        padding-left: 0px;
        text-align: center;
        font-size: 18px;
    }

    others-background-p {
        padding-top: 90px;
    }
    .others,
    .others-two,
    .others-three {
        height: 500px;
        padding: 10px 30px;
        margin-top: 0px;
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
    .others-three {
        margin-bottom: 0px;
    }
    iframe {
        width: 95%;
        height: 90%;
        border: none;
        border-radius: 8px;
        position: fixed;
        margin: auto;
        top: 4%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 102;
        padding: 0 0px;
        border: 2px solid white;
        background-color: black;
    }
    .close-btn-trailer {
        position: fixed;
        left: 2%;
        top: 0.5%;
        background-color: unset;
        border: none;
        border-radius: 50%;
        padding: 5px 10px;
        color: white;
        z-index: 103;
    }
    .cast-position {
        position: relative;
    }
    .cast-position .actor-container {
        position: fixed;
        z-index: 101;
        width: 100%;
        top: 100%;
    }
    .actor-container h2 {
        color: white;
        font-weight: bolder;
        text-decoration: underline;
    }
    .actor-container ul li .known-for {
        margin: 0;
        align-self: flex-start;
    }
    .cast-actor-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 2rem;
        padding: 20px;
    }
    .cast-actor-grid img {
        border-radius: 20px;
        width: 240px;
    }
    .cast-actor-grid li {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border-radius: 20px;
    }
    .cast-actor-grid li p {
        margin-top: 1rem;
        font-weight: 800;
        align-self: flex-start;
    }
    .cast-actor-grid li p span {
        color: #0092ff;
    }
    .genres {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    .footer {
        display: none;
    }
}

@media (min-width: 768px) {
    #navigation {
        display: none;
    }
    .input-title {
        justify-content: center;
        position: relative;
    }
    .input-title input {
        width: 50%;
        margin: unset;
        outline: none;
    }
    .input-title button {
        position: absolute;
        right: 22%;
        padding: 12px;
    }
    .d-flex-header {
        justify-content: space-between;
    }
    .bbb {
        display: none;
    }
    .display-grid {
        padding: 2rem;
    }
    .others-three {
        margin-bottom: 0px;
    }

    .modal-top {
        position: fixed;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        transition: button 0.3s ease-out;
        border-radius: 10px;
        z-index: 101;
        background-color: transparent;
        padding: 0px;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 0px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.7px);
        -webkit-backdrop-filter: blur(4.7px);
        border: 1px solid rgba(255, 255, 255, 0.27);
    }

    .modal-top .modal-left .poster {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .modal-down {
        display: flex;
        flex-direction: row;
        border: none;
        border-radius: 10px;
        width: 80%;
        height: 90%;
        position: fixed;
        inset: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-top .details {
        width: 100%;
        background-color: unset;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 20px;
        color: white;
    }
    .modal-top .close-btn {
        right: unset;
        left: 1%;
        top: 3%;
        border-radius: 50%;
        z-index: 102;
        font-size: 20px;
        padding: 10px 15px;
    }
    .trailer-btn {
        margin: 0 auto 0 auto;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        background-color: rgb(255, 0, 0);
        color: white;
        font-size: 16px;
        font-weight: 700;
    }
    .modal-top .span-para {
        margin-top: 0px;
        font-weight: bold;
    }
    .modal-top span.green {
        font-weight: 700;
        background-color: unset;
        padding: 10px;
        position: static;
        border: none;
        font-size: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 0px;
    }
    .modal-top span.orange {
        font-weight: 700;
        background-color: unset;
        padding: 10px;
        position: static;
        border: none;
        font-size: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 0px;
    }
    .modal-top span.red {
        font-weight: 700;
        background-color: unset;
        padding: 10px;
        position: static;
        border: none;
        font-size: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 0px;
    }
    iframe {
        width: 100%;
        height: 85%;
        border: none;
        border-radius: 8px;
        position: fixed;
        margin: auto;
        top: 0%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 102;
        padding: 0 0px;
        border: 2px solid white;
        background-color: black;
    }
    .close-btn-trailer {
        position: fixed;
        left: 1%;
        top: 0.5%;
        border: none;
        color: white;
        z-index: 103;
    }
    .cast-position {
        position: relative;
    }
    .cast-position .actor-container {
        position: fixed;
        z-index: 101;
        width: 100%;
        top: 100%;
    }
    .actor-container h2 {
        color: white;
        font-weight: bolder;
        text-decoration: underline;
    }
    .actor-container ul li .known-for {
        margin: 0;
        align-self: flex-start;
    }
    .cast-actor-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 2rem;
        padding: 20px;
    }
    .cast-actor-grid img {
        border-radius: 20px;
        width: 240px;
    }
    .cast-actor-grid li {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border-radius: 20px;
    }
    .cast-actor-grid li p {
        margin-top: 1rem;
        font-weight: 800;
        align-self: flex-start;
    }
    .cast-actor-grid li p span {
        color: #0092ff;
    }
    .whole-slider {
        width: 95%;
    }
    .others .title-space,
    .others-two .title-space,
    .others-three .title-space {
        padding-left: 30px;
        text-align: center;
        font-size: 25px;
    }
    .footer {
        display: flex;
        gap: 2rem;
        padding: 1rem 0;
    }
}

@media (min-width: 1024px) {
    .whole-slider {
        width: 90%;
        margin: 0 auto;
    }
    .display-grid {
        padding: 2rem;
    }
    .modal-top {
        position: fixed;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        transition: button 0.3s ease-out;
        border-radius: 10px;
        z-index: 101;
        background-color: transparent;
        padding: 0px;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 0px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.7px);
        -webkit-backdrop-filter: blur(4.7px);
        border: 1px solid rgba(255, 255, 255, 0.27);
    }
    .modal-top .modal-left .poster {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .modal-down {
        display: flex;
        border: none;
        border-radius: 10px;
        width: 80%;
        height: 90%;
        position: fixed;
        inset: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-top .details {
        width: 100%;
        background-color: unset;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 20px;
        color: white;
    }
    .modal-top .close-btn {
        right: unset;
        left: 1%;
        top: 3%;
        border-radius: 50%;
        z-index: 102;
        font-size: 20px;
        padding: 10px 15px;
    }
    iframe {
        width: 100%;
        height: 90%;
        border: none;
        border-radius: 8px;
        position: fixed;
        margin: auto;
        top: 4%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 102;
        padding: 0 0px;
    }
    .close-btn-trailer {
        position: fixed;
        top: 0.2%;
        left: 0.5%;
        margin: auto;
        border: none;
        border-radius: 50%;
        color: white;
        z-index: 103;
    }
    .trailer-btn {
        margin: 0 auto 0 auto;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        background-color: rgb(255, 0, 0);
        color: white;
        font-size: 16px;
        font-weight: 700;
    }
    .modal-top .span-para {
        margin-top: 0px;
        font-weight: bold;
    }
    .modal-top span.green {
        font-weight: 700;
        background-color: unset;
        padding: 10px;
        position: static;
        border: none;
        font-size: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 0px;
    }
    .modal-top span.orange {
        font-weight: 700;
        background-color: unset;
        padding: 10px;
        position: static;
        border: none;
        font-size: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 0px;
    }
    .modal-top span.red {
        font-weight: 700;
        background-color: unset;
        padding: 10px;
        position: static;
        border: none;
        font-size: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 0px;
    }

    .cast-position {
        position: relative;
    }
    .cast-position .actor-container {
        position: fixed;
        z-index: 101;
        width: 100%;
        top: 100%;
    }
    .actor-container h2 {
        color: white;
        font-weight: bolder;
        text-decoration: underline;
    }
    .actor-container ul li .known-for {
        margin: 0;
        align-self: flex-start;
    }
    .cast-actor-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 2rem;
        padding: 20px;
    }
    .cast-actor-grid img {
        border-radius: 20px;
        width: 240px;
    }
    .cast-actor-grid li {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border-radius: 20px;
    }
    .cast-actor-grid li p {
        margin-top: 1rem;
        font-weight: 800;
        align-self: flex-start;
    }
    .cast-actor-grid li p span {
        color: #0092ff;
    }
    .others .title-space,
    .others-two .title-space,
    .others-three .title-space {
        padding-left: 30px;
        text-align: center;
        font-size: 28px;
    }
}

@media (min-width: 1400px) {
    .modal-top .modal-left .poster {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        object-fit: fill;
    }
    iframe {
        width: 100%;
        height: 90%;
        border: none;
        border-radius: 8px;
        position: fixed;
        margin: auto;
        top: 1%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 102;
        padding: 0 0px;
    }
    .close-btn-trailer {
        position: fixed;
        top: 0%;
        left: 0.5%;
        margin: auto;
        border: none;
        border-radius: 50%;
        color: white;
        z-index: 103;
    }
    .others .title-space,
    .others-two .title-space,
    .others-three .title-space {
        padding-left: 30px;
        text-align: center;
        font-size: 30px;
    }
}
