*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    font-display: optional;
    font-family: system-ui, sans-serif;
}

img,
svg,
picture,
video {
    display: block;
    max-width: 100%;
}

.modal-top::-webkit-scrollbar,
body::-webkit-scrollbar,
.modal-top .modal-details::-webkit-scrollbar,
.watch-padding::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}

.modal-top::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.modal-top .modal-details::-webkit-scrollbar,
.watch-padding::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
    height: 100px;
}

.modal-top::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.modal-top .modal-details::-webkit-scrollbar {
    background-image: radial-gradient(
        circle,
        #e400ff,
        #ba00a5,
        #82005f,
        #440e2b,
        #000000
    );
}

p {
    margin-bottom: 0px !important;
}

a {
    text-decoration: none !important;
}
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

ol,
ul {
    padding-left: 0rem !important;
}

ul {
    all: unset;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-bottom: 0rem !important;
}

li {
    list-style: none;
}

input {
    all: unset;
}

button {
    all: unset;
}

.bg-black-c {
    background-image: linear-gradient(to top, #642b73, #040004);
}

.bg-black-search {
    background-image: linear-gradient(to top, #642b73, #040004);
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100dvh;
    z-index: 98;
}

.close-btn-search {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    padding: 10px;
    z-index: 98;
}

.billboard {
    overflow: hidden;
}
.billboard-container {
    height: 100vh;
    position: relative;
}

.billboard-container .image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.billboard-container .overlay {
    color: white;
    position: absolute;
    top: 55%;
    left: 3%;
    z-index: 99;
}

.billboard-container .overlay h2 {
    max-width: 390px;
    font-weight: 600;
    font-size: 40px;
}

.billboard-container .overlay p {
    max-width: 290px;
    font-size: 17px;
}

.billboard-container .overlay button {
    padding: 5px 30px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    color: black;
    transition: opacity ease-in-out;
}

.billboard-container .overlay button:hover {
    opacity: 0.9;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #e400ff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search-title {
    background-color: hsl(296, 100%, 44%);
    border: none;
    padding: 5px 30px;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-title {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 30px;
}

.input-title input {
    color: white;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    padding: 10px;
}

.heading-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.error-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-container .heading-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-container .heading-title h4 {
    color: white;
    font-weight: 800;
    margin-top: 80px;
    font-size: 40px;
}

.navi-ul {
    display: flex;
    gap: 10px;
    margin: 30px 2px 0 2px;
    align-items: center;
    justify-content: center;
    color: white;
}

.navi-ul h5 {
    font-size: 18px;
}

.details-modal h4 {
    margin-top: 20px;
}

.details-modal p {
    padding-top: 10px;
}

.modal-bold {
    margin: 5px 0px;
}

.modal-bold div {
    margin: 0px 0px 3px 0px;
}

.genre-container {
    overflow-x: hidden; 
}

.genre-container .categoryButtonRemove button {
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.genre-container .categoryButtonAdd button {
    color: white;
    padding: 10px 20px;
}

.position {
    position: absolute;
    z-index: 98;
    width: 100%;
    top: 0;
}

.d-flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.header p {
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
}

.header .header-icon {
    color: white;
}

.footer {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
}

.others-navlink {
    text-decoration-color: transparent;
}

.others-navlink p {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.active {
    text-decoration: underline;
    position: relative;
    transition: background-color 0.3s ease-out;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    padding: 10px;
}

.asNavlink {
    padding: 0px !important;
    text-decoration: none;
}

#fire {
    font-size: 20px;
    margin-bottom: 5px;
}

.icon-2 {
    margin-bottom: 5px;
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 2.5px 8px;
    font-size: 14px;
}

.icon-2-two {
    margin-bottom: 0px;
}

.cards {
    border-radius: 34px;
    position: relative;
    min-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: transform 0.3s ease-out, backgroud-image 0.3s ease-out,
        opacity 0.3s ease-in-out;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    opacity: 0.7;
}

.cards:hover {
    opacity: 1;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 520px;
}

.cards span {
    position: absolute;
    right: 4px;
    top: 5px;
    background-color: black;
    border-radius: 100%;
    padding: 5px 8px;
}

.watch-padding {
    padding-top: 180px;
    padding-bottom: 50px;
    overflow-x: hidden;
    height: 100dvh;
}

.watch-remove {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    padding: 5px;
    border: none;
    border-radius: 15%;
    outline: none;
}

.watch-add {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 8px 8px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
}

.count-later-nav {
    background-color: red;
    border-radius: 50%;
    padding: 5px 12px;
    margin-left: 5px;
    position: absolute;
    top: 58%;
    right: 79%;
    color: white;
}

.display-grid-watch-later {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 330px));
    gap: 3rem 2rem;
    position: relative;
    margin: 0 1rem;
    width: 95%;
    overflow: hidden;
}
.modal-top span.green {
    font-weight: 700;
    padding: 10px;
    font-size: 17px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-top span.orange {
    font-weight: 700;
    padding: 10px;
    font-size: 17px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-top span.red {
    font-weight: 700;
    padding: 10px;
    font-size: 17px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cards span.green,
.modal-top span.green {
    color: chartreuse;
    font-weight: 700;
}

.cards span.orange,
.modal-top span.orange {
    color: darkorange;
    font-weight: 700;
}
.cards span.red,
.modal-top span.red {
    color: crimson;
    font-weight: 700;
}

.button {
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.button,
.buttons {
    border-radius: 34px;
    font-size: 16px;
    font-weight: 600;
    border: none !important;
}

.pagination {
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    justify-content: center;
    padding-top: 15px;
}

.search {
    padding: 0 2%;
}
.search::placeholder {
    font-weight: 600;
    color: white;
    font-size: 16px;
    padding: 0 2%;
}
a:hover {
    color: white;
}

.footer-border {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.footer-border h5 {
    font-size: 16px;
    font-weight: 400;
}

.display-grid {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3rem 2rem;
    position: relative;
    margin: 0 auto 0 auto;
    width: 100%;
    overflow: hidden;
}

.display-grid-search {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3rem 2rem;
    position: relative;
    margin: 0 auto 0 auto;
    width: 100%;
    overflow: hidden;
}

.display-grid-search-empty {
    padding: 0px;
}

.modal-top .close-btn {
    position: fixed;
    right: 10.2%;
    top: 15.5%;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.overview h4 {
    color: white;
    text-decoration: underline;
    font-weight: 700;
}

.show-nav {
    transform: translateX(-100%);
}

.dont-show {
    transform: translateX(0%);
}

.bbb {
    position: absolute;
    z-index: 98;
    top: 22px;
    right: 10px;
    border-radius: 5px;
    padding: 0px;
    border: none;
}

.bbb-icon {
    background-color: transparent;
    color: white;
}

.button-active{
    background-color: black;
}
.button-not-active{
    background-color: transparent;
}

 .button-one {
    margin: 2px;
    border-radius: 10%;
    font-size: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.spinner-loader {
    position: relative;
    height: 100vh;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation {
    position: fixed;
    z-index: 100;
    background-color: transparent;
    padding: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    top: 90px;
    width: 40%;
    height: 555px;
    transition: transform 0.3s ease-out;
}

.close-btn-trailer {
    position: fixed;
    left: 0;
    top: 0%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    z-index: 103;
}

.trailer-btn {
    margin-top: 1rem;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.trailer-icon {
    color: white;
}

.ccc {
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 0px;
    border: none;
}

.ccc-icon {
    background-color: transparent;
    border: none;
    color: white;
}

.others-three {
    height: 500px;
    padding: 50px 50px 10px 50px;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    transition: all 0.8s;
    margin-bottom: 0;
}

.others-three .others-three-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 95%;
}

.others-three h1 {
    color: white;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 15px;
}

.others-three img {
    width: 95%;
    margin: 10px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-out;
    opacity: 1;
}

.others-three img:hover {
    transform: scale(1.05);
}
.whole-slider {
    width: 90%;
    margin: 0 auto;
}

.others-three .slider {
    position: relative;
}

.cast-actor-grid img {
    background-image: url('https://user-images.githubusercontent.com/10515204/56117400-9a911800-5f85-11e9-878b-3f998609a6c8.jpg');
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.modal-trailer {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 200;
    inset: 0;
    width: 100%;
    height: 100%;
}

.login-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 600;
}

.logout-button {
    background-color: white;
    color: black;
    padding: 20px 30px;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    right: 1%;
}

.logout-button:hover {
    opacity: 0.8;
}

.logout-button-mobile {
    font-weight: 700;
    position: absolute;
    top: 85px;
    right: 20px;
}

@media (min-width: 320px) {
    #navigation {
        position: fixed;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        transition: button 0.3s ease-out;
        z-index: 101;
    }
    .search-icon {
        display: none;
    }
    .others-three {
        padding: 50px 25px 10px 25px;
    }
    .others-three h1 {
        font-size: 16px;
    }
    .count-later-nav {
        display: none;
    }
    .input-title {
        position: relative;
    }
    .d-flex-header {
        padding: 10px;
        justify-content: start;
        align-items: center;
    }
    .display-grid {
        padding: 2rem 1.8rem;
    }
    .display-grid-search {
        padding: 2rem 1.8rem;
    }
    .display-grid-watch-later {
        margin: 0 auto;
        justify-content: center;
    }
    .modal-top {
        position: fixed;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        transition: button 0.3s ease-out;
        overflow-y: scroll;
        border-radius: 10px;
        z-index: 99;
        background-color: transparent;
        padding: 0px;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 0px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.7px);
        -webkit-backdrop-filter: blur(4.7px);
    }
    .modal-top .modal-left {
        width: 100%;
    }
    .modal-top .modal-left .poster {
        width: 88%;
        height: 100%;
        margin: 1rem auto;
        border-radius: 10px;
        position: unset;
        background-repeat: no-repeat;
        object-fit: fill;
    }
    .modal-down {
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: fixed;
        inset: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        overflow-y: scroll;
    }
    .modal-top .details {
        width: 100%;
        background-color: unset;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 20px;
        color: white;
    }
    .modal-top .close-btn {
        right: unset;
        left: 1%;
        top: 3%;
        z-index: 99;
        border-radius: 50%;
        font-size: 20px;
        padding: 10px 10px;
    }
    .trailer-btn {
        border-radius: 10px;
    }
    .billboard-container .overlay h2 {
        font-size: 30px;
    }
    .modal-top .span-para {
        margin-top: 0px;
    }
    .details h3 {
        text-align: center;
        font-size: 25px;
    }
    .details h4 {
        text-align: start;
        font-weight: 600;
    }
    .whole-slider {
        width: 100%;
    }
    iframe {
        width: 90%;
        height: 90%;
        border: none;
        border-radius: 8px;
        position: fixed;
        margin: auto;
        top: 4%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 102;
        padding: 0 0px;
        background-color: black;
    }
    .close-btn-trailer {
        left: 2%;
        top: 0.5%;
        background-color: unset;
        border-radius: 50%;
        padding: 5px 10px;
    }
    .cast-position {
        position: relative;
    }

    .cast-position .cast-nothing {
        display: flex;
        justify-content: center;
        color: white;
    }

    .cast-position .actor-container {
        position: fixed;
        z-index: 101;
        width: 100%;
        top: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .actor-container h2 {
        color: white;
        font-size: 35px;
        font-weight: bolder;
        text-align: center;
        margin: 10px 0;
    }
    .actor-container .li .known-for {
        margin: 0;
        align-self: flex-start;
    }
    .cast-actor-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 2rem;
        padding: 20px;
        place-content: center;
    }
    .cast-actor-grid img {
        border-radius: 20px;
        width: 240px;
    }
    .cast-actor-grid .li li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border-radius: 20px;
        background-color: transparent;
        background: rgba(255, 255, 255, 0.12);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.7px);
        -webkit-backdrop-filter: blur(4.7px);
        border: 1px solid rgba(255, 255, 255, 0.27);
    }
    .cast-actor-grid .li li p {
        margin-top: 1rem;
        font-weight: 800;
        align-self: flex-start;
        color: white;
    }
    .cast-actor-grid .li li p span {
        color: #0092ff;
    }
    .genres {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        padding: 2rem;
        border-radius: 20px;
        background-color: transparent;
        background: rgba(255, 255, 255, 0.12);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.27);
    }
    .genre-hide{
        translate: 200% 0;
    }
    .genre-show{
        margin-top: 20px;
        position: absolute;
        left: 5%;
        z-index: 30;
        translate: 0% 0;
        transition: translate 400ms ease-in-out;
        width: 90%;
    }
    .genre-button{
        display: flex;
        justify-content: end;
        width: 97%;
    }
    .genre-button button{
        padding: 10px 30px;
        border-radius: 10px;
        background-color: transparent;
        background: rgba(255, 255, 255, 0.12);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.7px);
        -webkit-backdrop-filter: blur(4.7px);
        border: 1px solid rgba(255, 255, 255, 0.27);
    }
    .footer {
        display: none;
    }
}

@media (min-width: 768px) {
    #navigation {
        display: none;
    }
    .others-three {
        padding: 50px 25px 10px 25px;
    }
    .others-three h1 {
        font-size: 23px;
    }
    .search-icon {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .genres {
        width: 50%;
    }
    .genre-show{
        left: unset;
        translate: 96% 0;
    }
    .Profile-image img {
        border-radius: 50%;
        width: 30px;
        object-fit: cover;
    }
    .input-title input {
        width: 50%;
    }
    .d-flex-header {
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
    }
    .bbb {
        display: none;
    }
    .display-grid {
        padding: 2rem;
    }

    .modal-top .modal-left .poster {
        width: 100%;
        margin: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .modal-down {
        flex-direction: row;
        width: 80%;
        height: 90%;
    }
    .billboard-container .overlay h2 {
        font-size: 40px;
    }
    iframe {
        height: 85%;
        top: 0%;
    }
    .close-btn-trailer {
        left: 1%;
    }

    .whole-slider {
        width: 95%;
    }

    .footer {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .whole-slider {
        width: 90%;
        margin: 0 auto;
    }
    .display-grid {
        padding: 2rem;
    }
    .modal-top .modal-left .poster {
        width: 100%;
    }
    iframe {
        height: 90%;
        top: 4%;
    }
    .close-btn-trailer {
        top: 0.2%;
        left: 0.5%;
        margin: auto;
    }
}

@media (min-width: 1400px) {
    iframe {
        top: 1%;
    }
    .close-btn-trailer {
        top: 0%;
    }
}
