@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,500;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    object-fit: fill;
}

a {
    text-decoration: none;
}

@keyframes move-out {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.h4-title {
    animation: move-out 1s forwards;
}

.h4-title .sub-title{
    font-family: Kanit, sans-serif;
}

@keyframes move-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes move-in-search {
    0% {
        transform: translateX(400%);
    }
    100% {
        transform: translateX(0%);
    }
}

.search-title {
    animation: move-in-search 1s forwards;
}

.input-title {
    animation: move-in 1s forwards;
}

.swiper {
    width: 40%;
}

.swiper-slide img {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    background-size: cover;
}

.header {
    position: fixed;
    background-color: black;
    font-size: 35px;
    /* box-shadow: 2px 4px 8px white; */
    box-shadow: 0 8px 32px 0px rgba(31, 38, 135, 01);
    color: white;
    z-index: 100;
    font-family: 'Kanit', sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding: 0.3% 0;
}
#fire {
    font-size: 20px;
    margin-bottom: 5px;
}

.icon-2{
    margin-bottom: 5px;
}

.cards {
    border-radius: 34px;
    position: relative;
    min-width: 100%;
    overflow: hidden;
    background: transparent;
    box-shadow: 0 8px 32px 15px rgb(31, 38, 135, 1);
    backdrop-filter: blur(10px) saturate(80%) brightness(60%);
    -webkit-backdrop-filter: blur(10px) saturate(80%) brightness(60%);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-img-top {
    object-fit: cover;
    height: 350px;
    border-radius: 34px;
    border: 3px solid white;
}
.cards span {
    position: absolute;
    right: 4px;
    top: 5px;
    background-color: black;
    border-radius: 100%;
    padding: 5px 8px;
    border: 3px solid white;
}
.cards span.green {
    color: chartreuse;
    font-weight: 700;
}

.cards span.orange {
    color: darkorange;
    font-weight: 700;
}
.cards span.red {
    color: crimson;
    font-weight: 700;
}

.button,
.buttons {
    border-radius: 34px;
    font-size: 16px;
    font-weight: 600;
    border: none !important;
}
.button:hover,
.buttons {
    background-color: rgba(31, 38, 135, 01) !important;
}

.pagination {
    padding-bottom: 90px;
}


.search {
    padding: 0 2%;
    text-transform: capitalize;
}
.search::placeholder {
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 0 2%;
}
a:hover {
    color: white;
}

.footer-border{
    border: none;
    outline: none;
} 

.display-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3rem;
    background-color: black;
    position: relative;
    margin: 0 auto 0 auto;
    width: 90%;
}

.margin-grid{
    margin-bottom: 71px;
}

.overview {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    padding: 2rem;
    transform: translateX(150%);
    transition: transform 1s ease-out;
    max-width: 100%;
    overflow-y: scroll;
    border-radius: 2rem;
    border: 3px solid white;
}

.overview p {
    color: white;
    line-height: 1.6;
}

.overview img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 30%;
    transition: transform 0.3s ease-out;
    margin-left: 0.25rem;
    margin: 1.5rem 0;
}

.overview img:hover {
    transform: scale(1.2);
}

#card:hover .overview {
    transform: translateX(0);
}

.overview h4 {
    color: white;
    text-decoration: underline;
    font-weight: 700;
}

.overview::-webkit-scrollbar {
    width: 8px;
}

.overview::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

.overview::-webkit-scrollbar-track:hover {
    background: black;
}

.show-nav {
    transform: translateX(-100%);
}

.dont-show {
    transform: translateX(0%);
}

.bbb {
    position: fixed;
    z-index: 100;
    top: 27px;
    left: 20px;
    border-radius: 5px;
}

#navigation {
    position: fixed;
    z-index: 100;
    background-color: black;
    top: 90px;
    width: 40%;
    height: 555px;
    transition: transform 0.3s ease-out;
}

.ccc {
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.others {
    margin-top: 85px;
    height: 500px;
    padding: 10px 50px;
    background: black;
    box-shadow: 0 8px 32px 15px rgba(31, 38, 135, 01);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.others-two {
    height: 500px;
    padding: 10px 50px;
    background: black;
    box-shadow: 0 8px 32px 15px rgba(31, 38, 135, 1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.others-three{
    margin-bottom: 72px;
    height: 500px;
    padding: 10px 50px;
    background: black;
    box-shadow: 0 8px 32px 15px rgba(31, 38, 135, 1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.others h1, .others-two h1, .others-three h1{
    font-family: Kanit, sans-serif;
}

.others img, .others-two img, .others-three img{
    width: 95%;
    margin: 10px;
    height: 300px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 20px;
    transition: transform 0.3s ease-out;
    opacity: .7;
}

.others img:hover, .others-two img:hover, .others-three img:hover{
    transform: scale(1.05);
    opacity: 1;
}

.icon-fs-left {
    animation: icon 1s ease-out infinite forwards;
    color: #ffffff;
}

.whole-slider{
    width: 90%;
    margin: 0 auto;
}

.others .slider, .others-two .slider, .others-three .slider {
    position: relative;
}

.others .title-space , .others-two .title-space, .others-three .title-space{
   padding-left: 80px;
}

.others .slider .overview-others h2, .others-two .slider .overview-others h2, .others-three .slider .overview-others h2{
    text-decoration: underline;
    position: absolute;
    top: 5%;
    margin-right: 20px;
    left: 10%;
    font-size: 18px;
    color: white;
    font-weight: bolder;     
}

.slider .overview-others h2:hover,.slider .overview-others p:hover,.slider .overview-others .release-date:hover{
    background: black;
}

.slider .overview-others p {
    position: absolute;
    top: 70%;
    left: 10%;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-right: 20px;
}

.overview-others span.green {
    color: chartreuse;
    font-weight: 700;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 81%;
    border: 3px solid white;
    right: 2%;
    font-size: 17px;
}

.overview-others span.orange {
    color: darkorange;
    font-weight: 700;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 81%;
    border: 3px solid white;
    right: 2%;
    font-size: 17px;
}
.overview-others span.red {
    color: crimson;
    font-weight: 700;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 81%;
    border: 3px solid white;
    right: 2%;
    font-size: 17px;
}

.release-date{
    position: absolute;
    top: 85%;
    left: 10%;
    color: white;
    font-weight: bolder;
}

@keyframes icon {
    0% {
        transform: translateX(20%);
    }
    50% {
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}

@media (max-width: 624px) {
    .overview img:hover {
        transform: scale(1);
    }
}

@media (min-width: 300px) and (max-width: 576px) {
    .header {
        font-size: 25px;
    }
    .header1 {
        display: none;
    }
    .cards {
        margin: 0 3%;
        height: 100%;
    }
    .card-title {
        font-size: 18px !important;
    }
    .movie {
        font-size: 13px !important;
    }
    .button,
    .buttons {
        font-size: 12px;
    }
    .footer1 {
        font-size: 14px;
    }
    .display-flex {
        gap: 1rem;
    }
}

/*                            FOR TABLET                  */
@media (min-width: 576px) and (max-width: 768px) {
    .card-title {
        font-size: 15px !important;
    }
    .movie {
        font-size: 13px !important;
    }
    .button,
    .buttons {
        font-size: 12px;
    }
    .header {
        display: none;
    }
    .footer {
        font-size: 14px;
    }
}
/*                            FOR DESKTOP                  */
@media (min-width: 768px) and (max-width: 980px) {
    .card-title {
        font-size: 15px !important;
    }
    .movie {
        font-size: 13px !important;
    }
    .button,
    .buttons {
        font-size: 12px;
    }
    .header {
        display: none;
    }
    .footer {
        font-size: 14px;
    }
}
